@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply inline-block bg-primary text-white font-semibold rounded-lg hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_#ffd978] hover:shadow-[0px_10px_8px_-7px_#69a79c] py-2 px-6;
  }
}

@layer utilities {
  .drop-shadow {
    filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
  }
 
  .bg-light {
    background-color: #f5f5f5; /* Light background */
  }

  .bg-primary {
    background-color: #D32F2F; /* Bold red */
  }

  .bg-primary-dark {
    background-color: #C2185B; /* Slightly darker red for hover */
  }

  .focus\:ring-primary {
    --tw-ring-color: #D32F2F; /* Ring color on focus */
  }
}